<html>
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">



    </head>
    <body>
        <div id="banner">
        <h2 class="heading">
This is a static page in Flask-Python       
        </h2>

        {% for post in posts %}
        <h2>
            <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">
            {{ post.title }}
            //
            </a>
            <small>{{ post.date }}</small>
            {% endfor %}

        </h2>
        </div>
    </body>

</html>